Package: moe.low.arc.accdemoarcaea
Name: AccDemoArcaea
Depends: mobilesubstrate
Version: 7.3.2
Architecture: iphoneos-arm
Description: Arcaea-only fork of AccDemo (chart speed control + practice tools)
Maintainer: XingChenRS
Author: XingChenRS (fork of brendonjkding/accDemo)
Section: Tweaks
