Package: moe.low.arc.accdemoarcaea
Name: AccDemoArcaea
Depends: mobilesubstrate
Version: 7.2.3
Architecture: iphoneos-arm
Description: Arcaea-only fork of AccDemo (chart speed control + practice tools)
Maintainer: xrc
Author: xrc (fork of brendonjkding/accDemo)
Section: Tweaks